<!--
  _____                    __  __
 |  __ \                  |  \/  |
 | |__) |___  _ __ _   _  | \  / | ___  _ __ ___
 |  _  // _ \| '__| | | | | |\/| |/ _ \| '__/ _ \
 | | \ \ (_) | |  | |_| | | |  | | (_) | | |  __/
 |_|  \_\___/|_|   \__, | |_|  |_|\___/|_|  \___|
                    __/ |
                   |___/
-->
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap,CSS & FontAwesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

    <!-- JQuery, Popper and Bootstrap java stuff -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">  </script>


    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Raleway:wght@300&family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet">

    <!-- Custom CSS Styles here rather than in a CSS file -->

    <link rel="stylesheet" href="/css/docs.css">
    <!--
 ___  ____ ____ ____    ___ _ ___ _    ____ 
 |__] |__| | __ |___     |  |  |  |    |___ 
 |    |  | |__] |___     |  |  |  |___ |___                                          
-->
    <title>Project Documentation</title>

</head>
<!--  ------------------------------------------------------
_  _ ___ _  _ _       ___  ____ ___  _   _ 
|__|  |  |\/| |       |__] |  | |  \  \_/  
|  |  |  |  | |___    |__] |__| |__/   |                                              
----------------------------------------------------------->

<body>
    <!-- Navigation Bar that's fixed on all pages - needs links to other pages, or javascript functions to be added to the buttons -->
    <!-- Bootstrap 4 has changed how navbars work, so my old navbar 3 won't work here -->
<%- include("partials/navbar") %>
	
<!--                                                                                 
#####   ####   ####  #    # #    # ###### #    # #####   ##   ##### #  ####  #    # 
#    # #    # #    # #    # ##  ## #      ##   #   #    #  #    #   # #    # ##   # 
#    # #    # #      #    # # ## # #####  # #  #   #   #    #   #   # #    # # #  # 
#    # #    # #      #    # #    # #      #  # #   #   ######   #   # #    # #  # # 
#    # #    # #    # #    # #    # #      #   ##   #   #    #   #   # #    # #   ## 
#####   ####   ####   ####  #    # ###### #    #   #   #    #   #   #  ####  #    # 
-->

    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-10">
                <div class="content jumbotron">
                    <h1>Design Documentation</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 align-center">
        <h2>Introduction</h2>
        <div class="date">Subheading</div>
        <p class="documentation container FirstPara">

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem fugiat ducimus consectetur accusamus.
            Voluptatum
            esse hic autem adipisci sit. Asperiores sequi quo harum alias. Rem officia delectus exercitationem quibusdam
            ducimus, tempore itaque fugit architecto ipsam non minima optio nihil error enim voluptatem fugiat ullam.
            Aspernatur veritatis aliquid hic possimus at harum ipsam natus repellendus pariatur quas sit sapiente
            minima,
            sed nisi quam incidunt quod deleniti cupiditate!

        </p>
        <p class="normal-para">
            Quibusdam minus in perspiciatis mollitia corporis amet unde
            numquam iure, excepturi aut dicta commodi est, ex ullam repudiandae. Reiciendis id laboriosam aliquid
            perferendis. Quod quibusdam perferendis nisi expedita fugit possimus, non autem recusandae natus consequatur
            rem
            ipsum tempora ea sit molestiae laboriosam numquam perspiciatis cupiditate libero iure accusantium. Quam sed
            sapiente perferendis quod sint molestiae, ullam quis dignissimos qui vitae mollitia quia praesentium natus
            dolores delectus maxime veniam, officia similique exercitationem? Sapiente quaerat mollitia quod, accusamus
            ducimus consequatur fuga, optio repellendus saepe, illum exercitationem odio vitae ratione reiciendis
            corporis
            sunt aliquid eius ab? Nobis excepturi praesentium illum ducimus harum odio neque hic tenetur alias ullam
            error
            fuga amet iste laborum omnis voluptate, unde aliquam, dolorum, dignissimos dicta repudiandae ex adipisci.
            Illo
            optio adipisci placeat, earum doloribus itaque repellendus mollitia ipsa odio odit. Sit, omnis.
        </p>

        <h2>Web Application "Purpose"</h2>
        <p class="documentation container FirstPara">
            I chose to have a site that reviewed games, and allowed comments and posts on how much you enjoyed these.
            This was because it seemed very relevant to our course, whilst also showing all of the criteria asked of us
            in this course.
        </p>
        <h2>Design Patterns</h2>
        <p class="documentation container FirstPara">
            What patterns I used:
            <ul>
                <li>Bootstrap grid</li>
                <li>dynamic resizing</li>
                <li>function sequencing & reference</li>
                <li>Setting up listeners</li>
                <li>Commenting my code</li>
                <li>Putting <em>structure</em> into HTML and <em>styling</em> into CSS</li>
                <li>RESTful routes</li> The routes I have used in this app, are noted <a href="#routes">below</a>


            </ul>
        </p>

        <h2>Libraries Used</h2>
        <p class="documentation container FirstPara">
            <ul>
                <li>Bootstrap 4</li>
                <li>Fontawesome</li>
                <li>Google Fonts</li>
                <li>Node.js</li>
                <li>npm to install packages</li>
                <li>embedded javascript (ejs)</li>
                <li>body-parser to extract data from submitted form objects</li>
            </ul>
        </p>
        <h2>Framework Used</h2>
        <ul>
            <li>Express</li>
        </ul>

        <h2 id="routes">RESTful design & Routes</h2>
        <p class="documentation container FirstPara">

            RESTful design is about defining patterns for our routes, which are the conventions for how the page
            requests (GET & PUT) are handled.
        </p>
        <p>

            I am using routes to identify discrete functions I want to have executed on my data.
            I have seperated routes for retrieval, updates, deletes, logging in and logging out - and these are
            following the conventions for RESTful design.
        </p>
        <p class="normal-para">
            <table class="table">
                <thead>
                    <tr class="tr_heading">
                        <th scope="col">ROUTE</th>
                        <th scope="col">PATH</th>
                        <th scope="col">ACTION</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr_index">
                        <th scope="row">INDEX</th>
                        <td>/games</td>
                        <td>GET</td>
                        <td>gets list of games from the database</td>
                    </tr>
                    <tr class="tr_new">
                        <th scope="row">NEW</th>
                        <td>/games/new</td>
                        <td>GET</td>
                        <td>displays a form to create new game object</td>
                    </tr>
                    <tr class="tr_new">
                        <th scope="row">CREATE</th>
                        <td>/games</td>
                        <td>POST</td>
                        <td>creates new game taking the passed over from NEW form</td>
                    </tr>
                    <tr class="tr_show">
                        <th scope="row">SHOW</th>
                        <td>/games/:id</td>
                        <td>GET</td>
                        <td>retrieves more info on a specific game (#id) and displays this</td>
                    </tr>
                    <tr class="tr_change">
                        <th scope="row">EDIT</th>
                        <td>/games/:id/edit</td>
                        <td>GET</td>
                        <td>shows a form to edit a specific object in my database, e.g. one game object</td>
                    </tr>
                    <tr class="tr_change">
                        <th scope="row">UPDATE</th>
                        <td>/games/:id</td>
                        <td>PUT</td>
                        <td>updates data on a specific game, then redirect back to game list</td>
                    </tr>
                    <tr class="tr_delete">
                        <th scope="row">DELETE</th>
                        <td>/games/:id</td>
                        <td>DELETE</td>
                        <td>deletes a single instance of a game, selected by its ID and redirects back to game list</td>
                    </tr>

                </tbody>
            </table>

        </p>
        <h2>Navbar</h2>
        <p class="documentation container FirstPara">

            I am using two versions of the navbar.

        </p>
        <p class="normal-para">
            <ul>
                <li>The first navbar is on the landing page, and contains all the elements <em>except</em> the search
                    function. This was kept until you are in the main page.</li>
            </ul>
        </p>
        <h2>Jumbotrons</h2>
        <p class="documentation container FirstPara">

            I use a single jumbotron on the landing page.

        </p>

        <h2>Access control & validation</h2>

    </div>

    <!-- -----------------------------------------------------------------------
_  _ _   _     _ ____ _  _ ____ ____ ____ ____ _ ___  ___ 
|\/|  \_/      | |__| |  | |__| [__  |    |__/ | |__]  |  
|  |   |      _| |  |  \/  |  | ___] |___ |  \ | |     |  
----------------------------------------------------------------------------->
    <!-- The Java Script files I have written -->
    <!-- When using javascript to maninpulate HTML, the javascript must come AFTER the HTML, so the end of the file -->



</body>