<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top mb-10">
<a class="navbar-brand mb-0 h2" href="#"><i class="fas fa-gamepad iconbar pr-2"></i><span class="brandText"> The Gamer</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li id="home" class="nav-item active"><a class="nav-link" href="/">Home </a></li>
    <li id="browse" class="nav-item"><a class="nav-link" href="/games">Browse </a></li>
    <li class="nav-item" id="about"><a class="nav-link" href="/docs">Documentation</a></li>
  </ul>
  <span class="navbar-text">
    <ul class="nav navbar-nav navbar-right">
      <li class="mx-2" id="signup"><a href="#">Sign Up <i class="fas fa-user-plus page1Icons hvr-pop"></i></a></li>
      <li class="mx-2" id="login"><a href="#"> Login <i class="fas fa-sign-in-alt page1Icons hvr-pop"></i></a></li>
    </ul>
  </span>
</div>
</nav>
<br>
<br>
