<%- include("partials/header") %>
<%- include("partials/navbar") %>



<div class="container">
	
<h1>This is the game page</h1>

<p>
	What an amazing collection

</p>

<a href="/games">view all games</a>

</div>
<%- include("partials/footer") %>
